/*------------------*
# Variables
*------------------*/

/*
 * Base font family
*/

$base-font-family: Poppins, sans-serif;

/*
 * Base font sizes
*/

$base-font-size: 14px;

$h1-size: 36px;
$h2-size: 28px;
$h3-size: 24px;

/*
 * Base font weights
*/

$small-font-weight: 400;
$medium-font-weight: 500;
$large-font-weight: 600;

/*
 * Heading spacing
*/

// $heading-spacing: 25px 0 10px;

/*

/*
 * Base line height
*/

$base-line-height: 1.5;

/*
 * Base colors
*/

$color-white: #ffffff;
$color-black: #000000;
$color-main-bg: #fafbff;

$color-logo-description: #838383;

$color-nav-text: #9197b3;
$color-nav-accent-bg: #5932ea;
$color-nav-descr-user: #757575;

$color-main-descr-text: #16c098;
$color-main-table-text: #292d32;
$color-main-secondary-text: #b5b7c0;
