nav.nav 
    ul.nav__list 
        li.nav__item 
            a.nav__link(href="/") Dashboard
                img(src="../images/icons/dashboard.svg", alt='dashboard-icon' width=24 height=24)
        li.nav__item
            a.nav__link(href="/") Products
                img(src="../images/icons/product.svg", alt="product-icon" width=24 height=24)
                span.arrow-icon 
        li.nav__item
            a.nav__link(href="/" class='nav__link--active') Cusomers                
                img(src="../images/icons/customers.svg", alt='customers-icon' width=24 height=24)
                span.arrow-icon
        li.nav__item
            a.nav__link(href="/") Income
                img(src="../images/icons/income.svg", alt='income-icon' width=24 height=24)
                span.arrow-icon
        li.nav__item
            a.nav__link(href="/") Promote
                img(src="../images/icons/promote.svg", alt="promote-icon" width=24 height=24)
                span.arrow-icon
        li.nav__item
            a.nav__link(href="/") Help
                img(src="../images/icons/help.svg", alt="help-icon" width=24 height=24)
                span.arrow-icon

    .nav__user
        img(src="../images/user_photo.png", alt="user photo" width=42 height=42)
        .user__block
            p.user__name Evano
            p.user__position Project Manager