- const title = 'CRM Dashboard Clients'

doctype html
html(lang="en")
    head
    include includes/head
        title= title
    body
        .container
            include includes/header
            include includes/nav
            include includes/main
        script(type='text/javascript')
            include js/menu.js